@model GammingManagementSystem.Models.ApplicationUser
@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add/Edit Agent Details</h5>
            <button type="button" class="close" onclick="CloseModal()" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <fieldset>
                <legend>Personal Details</legend>
                <hr />
                <div class="form-group">
                    <label class="form-label">FirstName</label>
                    <input type="hidden" class="form-control" name="Id" id="Id" value="@(Model != null ? Model.Id : null)" />
                    <input class="form-control" name="FirstName" id="FirstName" value="@(Model != null ? Model.FirstName : null)" placeholder="First Name" />
                    <span name="errorFirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="form-label">Last Name</label>
                    <input class="form-control" name="LastName" id="LastName" value="@(Model != null ? Model.LastName : null)" placeholder="Last Name" />
                    <span name="errorFirstName" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label class="form-label">Account Name</label>
                    <input class="form-control" name="AccountName" id="AccountName" value="@(Model != null ? Model.AccountName : null)" placeholder="Account Name" />
                    <span name="errorAccountName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="form-label">Email</label>
                    <input class="form-control" name="Email" id="Email" placeholder="Email" value="@(Model != null ? Model.Email : null)" />
                    <span name="errorEmail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="form-label">Phone Number</label>
                    <input class="form-control" name="PhoneNumber" id="PhoneNumber" placeholder="Phone Number" value="@(Model != null ? Model.PhoneNumber : null)" />
                    <span name="errorPhoneNumber" class="text-danger"></span>
                </div>
                <br />
                <legend>Address Details</legend>
                <hr />
                <div class="form-group">
                    <label class="form-label">Address-1</label>
                    <input class="form-control" name="Address1" id="Address1" placeholder="Address1" value="@(Model != null ? Model.Address1 : null)" />
                    <span name="errorAddress1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="form-label">City</label>
                    <input class="form-control" name="City" id="City" placeholder="City" value="@(Model != null ? Model.City : null)" />
                    <span name="errorCity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="form-label">State</label>
                    <input class="form-control" name="State" id="State" placeholder="State" value="@(Model != null ? Model.State : null)" />
                    <span name="errorState" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="form-label">ZipCode</label>
                    <input class="form-control" name="ZipCode" id="ZipCode" placeholder="ZipCode" value="@(Model != null ? Model.ZipCode : null)" />
                    <span name="errorZipCode" class="text-danger"></span>
                </div>
            </fieldset>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" onclick="CloseModal()" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="btnSave" onclick="AddAgent()">Add changes</button>
            <button type="button" class="btn btn-primary" id="btnUpdate" onclick="UpdateAgent()">Update changes</button>
        </div>
    </div>
</div>
