@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    var gameList = new List<Games>();

    if (TempData["Success"] != null)
    {
        <script type="text/javascript">
            alert('@TempData["Success"]');
        </script>
    }

    if (TempData["Error"] != null)
    {
        <script type="text/javascript">
            alert('@TempData["Error"]');
        </script>
    }

}
<div class="row">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Player Registration
                </button>
            </h2>
            <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto">
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h2>Referral Code</h2>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.ReferralCode" class="form-control" autocomplete="referral-code" aria-required="true" placeholder="Refral Code" />
                        <label>Referral Code</label>
                        <span class="text-danger"></span>
                    </div>
                    <br />

                    <h2>Personal Details</h2>
                    <hr />
                    <br />
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-floating mb-3">
                                <input asp-for="Input.FirstName" class="form-control" autocomplete="FirstName" aria-required="true" placeholder="FirstName" />
                                <label asp-for="Input.FirstName">First Name</label>
                                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-floating mb-3">
                                <input asp-for="Input.LastName" class="form-control" autocomplete="LastName" aria-required="true" placeholder="LastName" />
                                <label asp-for="Input.LastName">Last Name</label>
                                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-floating mb-3">
                                <input asp-for="Input.Email" class="form-control" autocomplete="Email" aria-required="true" placeholder="name@example.com" />
                                <label asp-for="Input.Email">Email</label>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-floating mb-3">
                                <input asp-for="Input.PhoneNumber" class="form-control" autocomplete="PhoneNumber" aria-required="true" placeholder="PhoneNumber" />
                                <label asp-for="Input.PhoneNumber">Contact No</label>
                                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-floating mb-3">
                            <label>Game interested </label>
                            @for (int i = 0; i < Model.Input.Games.Count; i++)
                            {
                                <p><input type="checkbox" class="gameCheckBox" value="@Model.Input.Games[i].Id">  @(Model.Input.Games[i].GameName) </p>
                            }
                        </div>
                        <input type="hidden" asp-for="Input.GameInterested" id="GameInterested" />
                    </div>

                    <h2>Account Details</h2>
                    <hr />

                    <div class="form-floating mb-3">
                        <input asp-for="Input.UserName" class="form-control" autocomplete="UserName" aria-required="true" placeholder="UserName" />
                        <label asp-for="Input.UserName">UserName</label>
                        <span asp-validation-for="Input.UserName" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label asp-for="Input.Password">Password</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        var checkedList = "";
        $(".gameCheckBox").on("change", function () {
            debugger;
            if ($(this).is(":checked")) {
                if (checkedList == "") {
                    checkedList = $(this).val();
                }
                else {
                    checkedList += "," + $(this).val();
                }
            }
            else {
                var gameDT = $("#GameInterested").val();
                var romoveVal = $(this).val();
                var trainindIdArray = gameDT.split(',');
                var i;
                checkedList="";
                for (i = 0; i < trainindIdArray.length; ++i) {
                    if (trainindIdArray[i] != romoveVal) {
                        if (checkedList == "") {
                            checkedList = $(this).val();
                        }
                        else {
                            checkedList += "," + $(this).val();
                        }
                    }
                }
            }
            $("#GameInterested").val(checkedList);
        });

    </script>

}
